/* TODO: Change the background color of the header and footer */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.main {
    width: 600px;
    height: 600px;
}

/* Header */
.header {
    display: flex;
    background-color: aliceblue;
    position: absolute;
    top: 0;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
}

.header p {
    font-size: 20px;
}

/* Footer */
.footer {
    display: flex;
    background-color: aliceblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 20px;
}

.main-content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}