* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: auto;
  font-family: "Roboto", sans-serif;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}


/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
 background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: #bec4c4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.main {
  width: 600px;
  height: 600px;
  overflow-y: auto;
  background-color: white;
}

.header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 10%;
  background-color: white;
  border-bottom: 1px solid rgb(0, 0, 0, 0.08);
}

.chart-section {
  position: absolute;
  top: 10%;
  width: 50%;
  height: 40%;
  left: 0;
}

.track-settings {
  position: absolute;
  display: flex;
  width: 100%;
  height: 10%;
  margin-top: 50%;
  border-top: 1px solid rgb(0, 0, 0, 0.08);
  border-bottom: 1px solid rgb(0, 0, 0, 0.08);
}

.filters-section {
  display: flex;
  overflow-x: auto;
  height: 100%;
  width: 50%;
  align-content: center;
  padding-left: 5px;
  padding-right: 5px;
}

.filter-item {
  position: relative;
  top: 10px;
  min-width: 100px;
  height: 70%;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.40);
}

.sorting-section {
  position: relative;
  display: inline-block;
  width: 40%;
  top: 25px;
}

.sorting-section h2 {
  font-size: 15px;
  font-weight: 100;
}

.sorting-section p {
  font-size: 13px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.sorting-section button {
  display: flex;
  position: relative;
  background-color: transparent;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.sorting-section:hover .dropdown-content {
  display: block;
}

.sorting-section:hover .sorting-section button {
  background-color: #3e8e41;
}

.content {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 40%;
  padding-top: 15px;
  padding-bottom: 15px;
  /* top: 50%; */
  overflow-y: auto;
}

.content-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  min-height: 80px;
  width: 95%;
  background-color: white;
  border-radius: 20px;
  border-color: rgba(224, 167, 9, 1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 2px solid rgb(0, 0, 0, 0.06);
}

.content-button:hover {
  background-color: aliceblue;
}

.header p {
  position: relative;
  left: 15px;
  color: black;
  font-size: 20px;
  font-weight: 700;
}

.category-button {
  position: absolute;
  left: 35%;
  top: 55%;
  color: black;
  width: 100px;
  height: 20px;
  border-radius: 10px;
  border: none;
}

#category {
  left: 15%;
  top: 15%;
  font-size: 15px;
}

#name {
  position: absolute;
  left: 15%;
  top: 15%;
  font-size: 20px;
}

#time {
  position: absolute;
  left: 15%;
  top: 55%;
  font-size: 18px;
}

#image {
  position: absolute;
  left: 5%;
  width: 40px;
}

.progress-bar {
  position: absolute;
  left: 60%;
  top: 70%;
  height: 7.5px;
  background-color: #0094ff;
  border-radius: 10px;
}

.progress-bar-background {
  position: absolute;
  left: 60%;
  top: 70%;
  height: 7.5px;
  background-color: rgb(0, 149, 255, 0.1);
  border-radius: 10px;
}

#progress-value {
  position: absolute;
  left: 60%;
  top: 42%;
  font-size: 13px;
}
